<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @point.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @point.lng %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @point.elevation %>
</p>

<p>
  <strong>Time:</strong>
  <%= @point.time %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
