<div class="container">
 <div class="row">

   <div class="col-md-6"><h1><%= @meeting.title %></h1></div>

 </div>

  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'partials/usersmall', locals: {user: @meeting.user} %>
    </div>
    <div class="col-md-3">
      <%= react_component("LikeButtonApp", props: { current_user:current_user, voted:current_user.voted_for?(@meeting) , meet_id:@meeting.id, votes:@meeting.get_likes.size } , prerender: false) %>

    </div>
  </div>

  <div class="row">
      <div class="col-md-4">

        <%= render :partial => "trackInfo" %>
        <%= render :partial => "meetingInfo" %>

      </div>

    <div class="col-md-8">
      <%= react_component("TrackViewApp", props: @props , prerender: false) %>
    </div>


  </div>
  <div class="row">
    <div class="col-md-8">
      <%= @meeting.description.html_safe  %>
    </div>
    <div class="col-md-4">
      <%= react_component("MeetingSignupApp", props: @signup_props , prerender: false) %>
    </div>


  </div>

</div>

