<p id="notice"><%= notice %></p>

<h1>Listing Ride Levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ride_levels.each do |ride_level| %>
      <tr>
        <td><%= ride_level.name %></td>
        <td><%= ride_level.val %></td>
        <td><%= link_to 'Show', ride_level %></td>
        <td><%= link_to 'Edit', edit_ride_level_path(ride_level) %></td>
        <td><%= link_to 'Destroy', ride_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride level', new_ride_level_path %>
